@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito:wght@700&display=swap');

:root {
  font-family: 'Lato', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a npm {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  font-family: 'Lato','Arial', sans-serif;
  background-color: #F4F3EF;
  color: #798478;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #798478;
  color: #F4F3EF;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header .logo h1 {
  font-size: 2em;
  margin: 0;
}

.header .nav button {
  background: none;
  border: none;
  color: #F4F3EF;
  font-size: 1.2em;
  margin-left: 15px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.header .nav button:hover {
  color: #F4F3EF;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(to right, #F4F3EF, #F4F3EF);
  color: #F4F3EF;
  flex-grow: 1;
}

.hero h2 {
  font-size: 3em;
  margin: 0;
}

.hero p {
  font-size: 1.5em;
  margin: 20px 0;
}

.hero button {
  background-color: #798478;
  color: #F4F3EF;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.hero button:hover {
  background-color: #a2aaa2;
  color: #F4F3EF;
}

.footer {
  background-color: #798478;
  color: #F4F3EF;
  text-align: center;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
}